body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
 padding: 20px 120px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.user-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-input input{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
input[type="text"]{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid gray;
}
button{
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.answer-button{
  display: block;
 margin: 8px 0;
 padding: 8px;
 width: 100%;
 background-color: cornflowerblue;
 border: none;
 transition: background-color 0.2s ease;
}
.answer-button:hover{
  background-color: blue;
}
.correct{
  background-color: green;
  color: white;
}
.incorrect{
  background-color: red;
}
.timer{
position: absolute;
top: 10px;
right: 50px;
}